src/main/resources/api.wsdl

<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="currencyconverter.ac.at.fhcampuswien" targetNamespace="currencyconverter.ac.at.fhcampuswien" name="Application">
    <wsdl:types>
        <xs:schema targetNamespace="currencyconverter.ac.at.fhcampuswien" elementFormDefault="qualified">
            <xs:complexType name="InvalidInputError"/>
            <xs:complexType name="stringArray">
                <xs:sequence>
                    <xs:element name="string" type="xs:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getConvertedValue">
                <xs:sequence>
                    <xs:element name="current_value" type="xs:float" minOccurs="0" default="1" nillable="true"/>
                    <xs:element name="current_currency_code" type="xs:string" minOccurs="0" default="EUR" nillable="true"/>
                    <xs:element name="expected_currency_code" type="xs:string" minOccurs="0" default="USD" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getConvertedValueResponse">
                <xs:sequence>
                    <xs:element name="getConvertedValueResult" type="xs:double" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCurrencyCodes">
                <xs:sequence>
                    <xs:element name="input" type="xs:string" minOccurs="0" default="default value" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCurrencyCodesResponse">
                <xs:sequence>
                    <xs:element name="getCurrencyCodesResult" type="tns:stringArray" minOccurs="0" nillable="true"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InvalidInputError" type="tns:InvalidInputError"/>
            <xs:element name="stringArray" type="tns:stringArray"/>
            <xs:element name="getConvertedValue" type="tns:getConvertedValue"/>
            <xs:element name="getConvertedValueResponse" type="tns:getConvertedValueResponse"/>
            <xs:element name="getCurrencyCodes" type="tns:getCurrencyCodes"/>
            <xs:element name="getCurrencyCodesResponse" type="tns:getCurrencyCodesResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCurrencyCodes">
        <wsdl:part name="getCurrencyCodes" element="tns:getCurrencyCodes"/>
    </wsdl:message>
    <wsdl:message name="getCurrencyCodesResponse">
        <wsdl:part name="getCurrencyCodesResponse" element="tns:getCurrencyCodesResponse"/>
    </wsdl:message>
    <wsdl:message name="getConvertedValue">
        <wsdl:part name="getConvertedValue" element="tns:getConvertedValue"/>
    </wsdl:message>
    <wsdl:message name="getConvertedValueResponse">
        <wsdl:part name="getConvertedValueResponse" element="tns:getConvertedValueResponse"/>
    </wsdl:message>
    <wsdl:message name="InvalidInputError">
        <wsdl:part name="InvalidInputError" element="tns:InvalidInputError"/>
    </wsdl:message>
    <wsdl:service name="CurrencyConverterWebService">
        <wsdl:port name="Application" binding="tns:Application">
            <wsdlsoap11:address location="http://54.93.118.155:8501//"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="Application">
        <wsdl:operation name="getCurrencyCodes" parameterOrder="getCurrencyCodes">
            <wsdl:input name="getCurrencyCodes" message="tns:getCurrencyCodes"/>
            <wsdl:output name="getCurrencyCodesResponse" message="tns:getCurrencyCodesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getConvertedValue" parameterOrder="getConvertedValue">
            <wsdl:input name="getConvertedValue" message="tns:getConvertedValue"/>
            <wsdl:output name="getConvertedValueResponse" message="tns:getConvertedValueResponse"/>
            <wsdl:fault name="InvalidInputError" message="tns:InvalidInputError"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Application" type="tns:Application">
        <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCurrencyCodes">
            <wsdlsoap11:operation soapAction="getCurrencyCodes" style="document"/>
            <wsdl:input name="getCurrencyCodes">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCurrencyCodesResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getConvertedValue">
            <wsdlsoap11:operation soapAction="getConvertedValue" style="document"/>
            <wsdl:input name="getConvertedValue">
                <wsdlsoap11:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getConvertedValueResponse">
                <wsdlsoap11:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidInputError">
                <wsdlsoap11:fault name="InvalidInputError" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>